.main-content{
    margin: 20px;
    padding: 20px;
}
.username{
    min-width: 300px;
    margin-bottom: 3px;
}
.action-link{
    padding: 10px;
}
.user-item{
    padding: 20px;
}
.btn{
    margin: 3px;
}